body{
    background-image: linear-gradient(135deg, #9698d4,#53427f) ;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag-inicial{
    background-color: #9698d4;
}

.pag-inicial img {
    width: 250px;
}