<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body class="cadastro">
    <div class="caixa-de-cadastro">
        <h2>Crie sua conta</h2>
        <p>Usuário</p>
        <input type='text' name='Usuário' placeholder="Digite seu usuário">
        <br>
        <p>E-mail</p>
        <input type='text' name='E-mail' placeholder="Digite seu E-mail">
        <p>Confirme sua senha</p>
        <input type='password' name='Senha' placeholder="Digite sua senha">
        <div class="botoes">
            <br>
            <br>
            <a href="">Entrar</a>
            </div>
        </div>
    
</body>
</html>