<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="shortcut icon" href="eyes2.png" type="image/x-icon">
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <div class="pag-inicial">
    <img src="static/eyes2.png">
    <div class="botoes">
        <br>
        <a href="/login">Fazer login</a>
        <a href="/cadastro">Cadastrar-se</a>
    </div>
</body>
</html>