<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="shortcut icon" href="eyes2.png" type="image/x-icon">
</head>
<body class ="login">
    <div class="caixa-de-login">
    <h2>Login</h2>
    <p>Usuário</p>
    <input type='text' name='Usuário' placeholder="Digite seu usuário">
    <br>
    <p>Senha</p>
    <input type='password' name='Senha' placeholder="Digite sua senha">
    <div class="botoes">
    <br>
    <br>
    <a href="pagina-inicial.html">Entrar</a>
    </div>
    </div>
</body>
</html>